{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html"; charset="utf-8">
    <link href="{% static "css/pdf.css" %}" rel="stylesheet">
    <title>Booking Confirmation</title>

</head>
  <body>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 ">

        <div class="container">
          <center>
            <!-- Displays the Hotel Details -->
            <div class="panel panel-default">
              <div class="panel-heading"><h1 class="big">Check-In.com Reservation</h1></div>

                <div class="panel-body">
                  <h1><b>Room Type: {{room.room_type}}  </b></h1>
                  {% comment %} <p>{{booking.hotel.Description}}</p> {% endcomment %}
                  {% comment %} <p>Address: {{hotel.Address}} , {{booking.hotel.City}} , {{booking.hotel.Country}}.</p>
                  <p>Contact: {{booking.hotel.TelephoneNumber}}</p> {% endcomment %}
                </div>
            </div>
              <!-- Displays the Booking Details such as Room name etc.. -->
            <div class="panel panel-default">
              <div class="panel-heading"><h1>Reservation Details</h1></div>
                <div class="panel-body">

            <p><b>Customer:</b>  {{ reservation.customer }}</p> 
            <p><b>Staff: </b><a href="{% url 'staff-detail' reservation.staff_id %}" class="text-white">{{ reservation.staff }}</a><br>
            
          <p><b> No of Children:</b> {{ reservation.no_of_children }}</p> 
            <p><b> No of Adults:</b> {{ reservation.no_of_adults }}</p> 
            <p><b>Reservation Date: </b>{{ reservation.reservation_date_time }}</p> 
            <p><b> Expected Arrival:</b> {{ reservation.expected_arrival_date_time }}</p> 
            
            <p><b>Expected Departure: </b>{{ reservation.expected_departure_date_time }}
            {% comment %} <p><b>Amount: </b>{{ amount }}</p> {% endcomment %}
            <p><b>{% if reservation.room_set.all %} Reserved Rooms: </b>{% for room in reservation.room_set.all %}
                <strong><a href="{% url 'room-detail' room.room_no %}"
                        {{ room }}</a>{% if not forloop.last %}

                    <!-- {% if filter == 'all' %}Available{% else %}All{% endif %}</a></p> -->
                    {% endif %}</strong> {% endfor %} {% endif %}
           
                </div>
            </div>
              <!-- Uses the City that the hotel is located in to pull a map from Google-->
            <div class="panel panel-default">
                <div class="panel-heading"><h3>City Map</h3></div>
                <div class="panel-body">
                  <img src="https://maps.googleapis.com/maps/api/staticmap?size=680x400&zoom=13&center={{booking.hotel.City}}&style=feature:all|element:all" />
                </div>
                <div class="panel-footer"><h3>Enjoy Your Stay In {{booking.hotel.City}} !</h3></div>
            </div>
            </center>
      </div>
    </div>
    </div>
  </body>
  </html>
